body {
    font-size: 16px;
}
#adminTools {
    background-color: aqua;
    padding: 15px;
}
#adminTools button {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 20px;
}
#editQuestions, #addQuestion {
    background-color: rgb(201, 201, 201);
    padding: 15px;
    display: none;
}
#addQuestion {
    background-color: aquamarine;
}
#editQuestions div, #addQuestion div {
    margin: 25px;
}
input {
    display: block;
    width: 300px;
}